{% load i18n %}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-8">{% trans 'Question' %} {{ counter }}</div>
            <div class="col-xs-4 text-right">
                <small>
                    <strong>
                        {% if is_editable %}
                        <a href="#" class="ir-res-editable-ans" data-type="text" data-pk="{{ question_id }}" data-url="{{ save_mark_url }}" data-title="{% trans 'Enter new mark' %}" data-savenochange="true">{{ result_points }}</a>
                        {% else %}
                        {{ result_points }}
                        {% endif %}
                    </strong> {% trans 'of' %} {{ points }}</small>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="ir-res-problem">{{ text|safe }}</div>
        {% for answer in answers %}
            {% if answer.is_right %}
                <div class="col-xs-12 ir-res-answer bg-success ir-res-answer-correct">{{ answer.text }}</div>
            {% elif answer.is_wrong %}
                <div class="col-xs-12 ir-res-answer bg-danger ir-res-answer-wrong">
                    {% if not answer.text %}
                        <em>{% trans 'No answer' %}</em>
                    {% else %}
                        {{ answer.text }}
                    {% endif %}
                </div>
            {% elif answer.is_notchosen %}
                <div class="col-xs-12 ir-res-answer bg-info ir-res-answer-notchosen">{{ answer.text }}</div>
            {% else %}
                <div class="col-xs-12 ir-res-answer">
                    {% if not answer.text %}
                        <em>{% trans 'No answer' %}</em>
                    {% else %}
                        {{ answer.text|linebreaksbr }}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>